.form {
    input:not([type='radio']), select {
        min-width: 200px;
    }
    .row {
        display: flex;
        column-gap: 1em;
        align-items: center;

        +.row {
            margin-top: 1em;
        }
        
    }
}